@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

body {
  margin: 0;
  background-color: #97374f;
  font-family: "Roboto Mono";
  color: white;
  font-size: 15px;
  line-height: normal;
}

.header-container {
  margin: 60px auto 40px auto;
}

.fa-icon {
  color: #000;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 29px;
  font-size: 15px;
  text-align: center
}

.fa-icon.fa-icon-2x {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 24px
}

/* img {
  height: 250px;
  width: auto;
}

h1, h2 {
  color: #1d3557;
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  color: #457b9d;
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 1rem;
}

p {
  margin-bottom: 5%;
}

a {
  font-family: "Roboto Mono", sans-serif;
  text-decoration: none;
  color: #045762;
  font-weight: 600;
  font-size: 16px;
}
/* a:hover {
  color: #e63946;
} */
/*
ul {
  list-style: none;
}


.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.container {
  width: 700px;
  margin: 40px auto;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.btn-green {

  border: 1px solid #e63946;
  color:#e63946;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 20px;
  text-shadow: 1px 1px rgb(0,0,0, 0.2);
  transition: 0.5s;
}
.btn-green:hover {
  color:white;
  background-color: #e63946;
  font-size: 22px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}
.list-inline i:hover {
  color: black;
} */

/* Responsive Page */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  a {
    font-size: 12px;
  }
}
