@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: Lato, Helvetica, Arial, sans-serif;;
  color: black;
  font-size: 16px;
  line-height: normal;
}

/* Background */

body {
  background: -webkit-linear-gradient(180deg, #19a6c3, #4adf9e);
  background: -moz-linear-gradient(180deg, #19a6c3, #4adf9e);
  background: -ms-linear-gradient(180deg, #19a6c3, #4adf9e);
  background: -o-linear-gradient(180deg, #19a6c3, #4adf9e);
  background: linear-gradient(180deg, #19a6c3,#4adf9e);
  background-repeat:repeat-x;
}

.background-color-layer {
  background-size: cover;
  opacity: .15;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 30%;
  box-shadow: inset 0 -40px 60px 10px #19a6c3;
}

/* container size */

/* For a screen > 960px, this CSS will be read */
@media (min-width: 960px) {
  .container {
    width: 880px;
  }
}

/* Main layout */

.content-wrapper {
  position: relative;
  z-index: 1
}

/* Header */

.header-container {
  margin: 100px auto 40px auto;
  color: white;
}

header h1 {
  font-size: 55px;
  margin-top: 25px;
  margin-bottom: 12.5px;
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.1;
}

header a:hover {
  color: black;
}

.fa-icon {
  color:white;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 29px;
  font-size: 15px;
  text-align: center
}

.fa-icon.fa-icon-2x {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 24px
}

/* About Me Section */


/* Projects Section */


/* Footer Section */

footer a:hover {
  color: black;
}


/* Responsive Page */

/* For a screen < 960px, this CSS will be read */
/* @media (max-width: 960px) {
  .container {
    width: 700px;
  }
} */

/* For a screen < 720px, this CSS will be read */
/* @media (max-width: 720px) {
  .container {
    width: 500px;
  }
} */

/* For a screen < 540px, this CSS will be read */
/* @media (max-width: 540px) {
  .container {
    width: 300px;
  }
  a {
    font-size: 12px;
  }
} */
